.intro__title {
    font-family: 'Inter-Black', Arial, sans-serif;
    font-size: 54px;
    margin-bottom: 40px;
    line-height: 1.1;
  }
  
  @media screen and (max-width: 426px) {
    .intro__title {
      font-size: 32px;
    }
  }